@page "/"

<PageTitle>Mechanically Challenged</PageTitle>

<h1>Mechanically Challenged</h1>

<div>
	<p>
		This site aims to provide implementations for the challenges posed by
		<a target="_blank" href="https://github.com/moonizz/mechanicallychallenged">MechanicallyChallenged</a>
		by <a target="_blank" href="https://twitch.tv/moonizz">MooNiZZ</a>
		and <a target="_blank" href="https://twitch.tv/theCaptainCoder">TheCaptainCoder</a>.
	</p>
</div>
