/* /Pages/Home.razor.rz.scp.css */
div[b-msiv5uj60l] {
	&::before {
		content: "";
		background-image: url('logo.png');
		background-repeat: no-repeat;
		background-position-x: center;
		background-size: 90dvmin;
		height: 100dvmin;
		width: 100dvmin;
		z-index: -100;
		position: absolute;
		opacity: 0.15;
	}
}
